<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
	<body>
	<div class="container">
		<div class="jumbotron" style="background-image: url(https://lh3.ggpht.com/LG8aIactDutHBEf8KU1l7WmiZbBHnDyzBj9RxwU8DBibFM-N8FvyDSk9xMBdbWOkxQQ=h900); background-size: 100%;">
		<center><h1>Twój album</h1></center>
		</div>
	   <ul class="list-group">
           {% for photo in variables.photos %}
	    <li class="list-group-item">
             <img src="{{ photo }}" class="img-thumbnail" height="500" /></br>
            </li>
	   {% endfor %}
           </ul>
		 <center> Jakieś poblem skontaktuj sie z supportem!!!</br>
		   <img src="http://cdn.memegenerator.net/instances/400x/32427583.jpg" class="img-thumbnail" height="500" /></center>
	</div>
	</body>
</html>
